# Copy to .env and adjust if needed.

BACKEND_DIR_NAME=backend
FRONTEND_DIR_NAME=frontend
ASSETS_DIR_NAME=assets
LOG_DIR_NAME=logs
DATABASE_PATH_NAME=database/pp1_collection.db

SERVER_PORT=8000
ROCKET_PROFILE=release

CHROME_BIN="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
CHROME_KIOSK_PROFILE_DIR=ChromeKiosk
CHROME_REMOTE_DEBUGGING_PORT=9222
